<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	{% if page.excerpt %}
    <meta name="description" content="{{ page.excerpt| strip_html }}" />
    <meta property="og:description" content="{{ page.excerpt| strip_html }}" />
    {% else %}
    <meta name="description" content="{{ site.description }}">
    <meta property="og:description" content="{{ site.description }}" />
    {% endif %}
    <meta name="author" content="{{ site.name }}" />
    {% if page.title %}
    <meta property="og:title" content="{{ page.title }}" />
    <meta property="twitter:title" content="{{ page.title }}" />
    {% endif %}
    <link rel="stylesheet" type="text/css" media="all" href="/css/styles.css">
	<title>{% if page.title %} {{ page.title }} | {% endif %}{{ site.name }}</title>
	<script type="text/javascript" src="/js/modernizr.js"></script>
</head>
<body>
	<div class="container">
		<div role="main">
			<h1><a href="/">{{ site.name }}</a></h1>